/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

body {
    margin: 0;
    background-color: #dee;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.sidebar {
    width: 320px;
    height: 100%;
    position: fixed;
    box-shadow: 2px 2px 3px #0007;
    background-color: #0003;
    padding: 15px;
}

    .sidebar > hr {
        opacity: .3;
    }

    .sidebar > form > div,
    .sidebar > form > button {
        margin-top: 15px;
    }
    
.container {
    background: #fff2;
    border-radius: 10px;
    margin-left: 360px;
    width: calc( 100% - 370px);
    height: calc( 100% - 20px);
    margin-top: 10px;
    position: fixed;
    box-shadow: inset 1px 1px 2px;
}

#map {
    height: 100%;
    border-radius: inherit;
    box-shadow: 1px 1px 2px 2px #0005;
}

.MuiInputBase-root {
    box-shadow: inset 2px 2px 3px #0003;
}

#estimativa {
    position: fixed;
    bottom: 0px;
    height: 100px;
    box-shadow: inset 2px 2px 3px #0007;
    width: 320px;
    left: 5px;
    margin-bottom: 7px;
    padding: 10px;
    background-color: #FFF7;
}

    #estimativa > div {
        margin: 5px;
        font-weight: bold;
        border-bottom: 1px dashed #0005;
    }

        #estimativa span {
            margin-left: 10px;
            color: #00d;
        }


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: darkblue;
    -webkit-box-shadow: inset -10px 0 3px #0003;
    transition: background-color 5000s ease-in-out 0s;
}